version: '3.2'
name: 'template-microservice'
services:
  template:
    container_name: template
    build:
      context: ./
      dockerfile: Dockerfile
    env_file: ./.env
    ports:
      - "3060:3060"
    volumes:
      - ./docker_logs:/usr/src/app/logs
      - ./node_logs:/usr/src/app/dist/.logs
    healthcheck:
      test: ['CMD', 'wget', 'http://template/health']
      interval: 10s
      timeout: 15s
      retries: 10
      start_period: 40s
    hostname: template.dev
    restart: always
networks:
  services_main-network:
    external: true
